body {
  display: flex;
  flex-direction: column;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.startMenu {
  background-image: url("/background.jpg");
  padding: 0;
  margin: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
}
.startMenu img {
  height: 20vh;
}
.startButton:hover {
  transform: scale(1.5, 1.5);
}
.card {
  /* margin: 5px; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.card,
.front,
.back {
  width: 60px;
}
.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}
.front {
  background: url(../img/block.png) no-repeat center center / contain;
}
.back {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

header img {
  max-width: 60vw;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

/* Timer styling */

#timer {
  color: yellow;
}

.startMenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("background.jpg");
  background-size: cover;
}

.cardGrid {
  flex: 1;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}
.cardGrid div {
  height: 10vh;
}
.selected {
  transform: rotateY(180deg);
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.match {
  border: 4px solid red;
  background-image: none !important;
  opacity: 0;
}
.match .front {
  background: none !important;
}

@media only screen and (min-width: 786px) {
  .cardGrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
  .cardGrid img {
    height: auto;
    width: 10vw;
    max-height: 30vh;
  }
}
